.main{
    width: 100%;
    text-align: center;
    background-color: #000;
    padding-top: 100px;
    /* padding-bottom: 50px; */
}
.articles{
    margin-top: 100px;
    width: 100%;
    text-align: center;
}

.capability-header{
    text-align: center;
}
.capability-title{
    color: #fff;
    text-align: center;
    width: 15%;
    margin: auto; 
    padding-bottom: 10px;
    font-weight: 500;
    margin-bottom: 20px;
}
.blue-line{
    background-color: #00a4f7;
    width: 50px;
    height: 2px;
    margin: auto;
    margin-bottom: 20px;
}
.capability-description{
    color: #fff;
    line-height: 25px;
    font-size: 18px;
}

.capability{
    width: 100%;
}

.capability-img{
    padding-top: 50px;
}
.btn{
    width: 100%;
    margin: 70px 0;
    
}

.btn-more{
    margin: auto;
    padding: 20px;
    width: 150px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: inherit;
    cursor: pointer;
    transition: all 1s;
    font-size: 1.1em;
    color: #fff;
}

.btn-more:hover{
    color: #fff;
    background-color: #00a4f7;
    border-color: transparent;
}