.navigation{
    background-color: #000;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 25px;
    z-index: 100;
    /* margin-top: 40px; */
}


.nav-logo{
    width: 15%;
    text-align: center;
    padding-top: 25px;
}

.nav-logo img {
    width: 70%;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: baseline;
    padding-top: 5px;
    margin-left: -100px;

}

.nav-list li {
    display: inline-block;
    margin: 10px;
}

.nav-more{
    color: #fff;
    list-style: none;
    align-items: baseline;
}

.nav-more li {
    display: inline-block;
    /* margin: 10px; */
    margin-right: 15px;
}
.nav-logo__link{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    font-family: Monsterrat,sans-serif;
    
}

.nav-logo__link:hover{
    color:  #68e8c9;
    transition: color .4s;
    text-decoration: none;
}

.nav-more{
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    padding-top: 15px;
}
.nav-more li{
    margin-right: 25px;
}
.modal-search{
    width: 100%;
}
.fixed-top{
    position: fixed top;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    width: 100%;
}
.icon{
    color: #fff;
    cursor: pointer;
    font-size: 1.3em;
}
.icon:hover{
    color:  #68e8c9;
}

@media screen and (max-width: 411px){
    .nav-block{
        display: block;
    }
    .nav-logo{
        width: 100%;
    }
    .nav-list{
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-left: 0;
        display: block;
        text-align: center;
        padding-left: 0px;
    }
}