.search-func{
    margin-top: 250px;
    margin-bottom: 150px;
}

.search-result{
   width: 100%;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap
}
.search-div{
    text-align: center;
}

@media screen and (max-width: 375px){
    .search-result{
        display: block;
        width: 100%;
    }
}